<div class="subtask-card rounded bottom-margin" id="_task_subid">
    <input class="subtask-field rounded" type="text" placeholder="What is your subtask?">
    <div class="edits">
        <button type="button" class="subtask-delete subtask-button rounded" onclick="deleteSubtask('_task_subid')"><img class="icon" src="img/delete.svg" alt=""></button>
        <button type="button" class="subtask-complete subtask-button rounded" onclick="toggleSubtask('_task_subid')" toggled="false"><img class="icon" src="img/check_0.svg" alt=""></button>
    </div>
</div>