<div class="subtask-form-card rounded bottom-margin" id="edit_task-_subid">
    <input class="subtask-field rounded" type="text" placeholder="What is your subtask?">
    <div class="edits">
        <button type="button" class="subtask-delete subtask-button rounded" onclick="deleteSubtask('edit_task-_subid')"><img class="icon" src="img/delete.svg" alt=""></button>
        <button type="button" class="subtask-complete subtask-button rounded" onclick="toggleSubtask('edit_task-_subid')" toggled="false"><img class="icon" src="img/check_0.svg" alt=""></button>
    </div>
</div>