<div class="subtask-card rounded bottom-margin" id="_task-_subid">
    <h4 class="subtask-field">_subtask_title</h4>
    <div class="edits">
        <!--<button type="button" class="subtask-delete subtask-button rounded" onclick="deletePageSubtask('_task-_subid')"><img class="icon" src="img/delete.svg" alt=""></button> -->
        <button type="button" class="subtask-complete subtask-button rounded" onclick="togglePageSubtask('_task-_subid')" toggled="_toggled"><img class="icon" src="img/_img.svg" alt=""></button>
    </div>
</div>