:root{
    --bg-color: #3d4c6b;
    --text-color: #ffffff;
    --content-color: #2e3b57;
    --card-color: #2b3442;
    --dialog-color: #8497c0;

    --button-color: #b1b1b1;
    --button-hover: #6b6b6b;
    --button-text: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    text-align: center;
}
.center-inside{
    display: flex;
    justify-content: center;
}
.task-input{


}
.task-form{
    flex-direction: column;
    background-color: var(--content-color);
    padding: 1rem;
    width: 100%;
}
.subtask-container{
    display: flex;
    flex-direction: column;
}
.subtask-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.subtask-field{
    width: 100%;
}
.subtask-card{
    width: 100%;
    background-color: var(--card-color);
    display: flex;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.edits{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.subtask-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: var(--button-text);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    height: 50px;
    width: 50px;
}
.icon{
    filter: invert(1);
}
input{
    min-height: 50px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 1rem;
}
.bottom-margin{
    margin-bottom: 1rem;
}
.rounded{
    border-radius: 20px;
}
.dialog-container{
    position: fixed;
    background-color: var(--content-color);
    padding: 2rem;
    border-radius: 20px;
    width: 40%;
    left: calc(50% - 20vw);
    top: 2rem;

}
#dialog-button{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
}
.task-button{
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--button-color);
    border-radius: 25px;
}
input{
    color:black;
    padding: 0.5rem;
}